<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/userForm.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body style="background: url(/loginImg.jpg)no-repeat;background-size: cover;">

    <form action="/" id="form" method="post" style="top:20%; background: rgba(255, 255, 255, 0.6);width: 30%;">
        <label id="error" style="color: red;">
            <%=value%>
        </label>
        <h2 class="mb-4">Login form</h2>

        <div class="row extra">
            <div class="col-md-3">
                <label for="">Email</label>
            </div>
            <div class="col-md-9">
                <label for="" id="emailLable"></label>
                <input type="text" name="email" id="emailInput">
            </div>
        </div>
        <div class="row extra">
            <div class="col-md-3">
                <label for="">Password</label>
            </div>
            <div class="col-md-9">
                <label for="" id="passwordLable"></label>
                <input type="password" name="password" id="passwordInput">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-9 mt-3">
                <label for="" id="otpLabel" style="color: red;"></label>
                <input type="number" name="otp" placeholder="enter your otp" id="otpInput" style="display: none;">
            </div>

        </div>
        <button class="buttonClick" type="submit">Submit</button>

        <a href="/signup" class="text-dark list">Sign Up</a>
    </form>



    <script>

        let form = document.getElementById("form")
        let emailLable = document.getElementById("emailLable")
        let passwordLable = document.getElementById("passwordLable")

        let emailInput = document.getElementById("emailInput")
        let passwordInput = document.getElementById("passwordInput")
        let otpInput = document.getElementById("otpInput")
        let otplabel = document.getElementById("otpLabel")

        let reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var regpass = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/

        form.addEventListener("submit", (e) => {

           
            if (emailInput.value.trim() === "") {
                emailLable.innerHTML = "please enter your email";
                e.preventDefault()
            } else {
                if (reg.test(emailInput.value.trim()) == false) {
                    emailLable.innerHTML = "please enter valid email";
                    e.preventDefault()
                }
                else {
                    emailLable.innerHTML = "";

                }
            }
            if (passwordInput.value.trim() === "") {
                passwordLable.innerHTML = "please enter your password";
                e.preventDefault()
            } else {
                if (regpass.test(passwordInput.value.trim()) == false) {
                    passwordLable.innerHTML = "password must be spacial character";
                    e.preventDefault()


                } else {
                    passwordLable.innerHTML = "";

                    let email = $('#emailInput').val();
                    let password = $('#passwordInput').val();
                    let otp = $('#otpInput').val();

                    e.preventDefault()
                    $.ajax({
                        url: "http://localhost:5000/",
                        method: "post",
                        contentType: "application/x-www-form-urlencoded",
                        data: {
                            email, password ,otp
                        },
                        success: function (res) {
                            
                            document.getElementById("otpInput").style.display = "block"
                            if(otp !==''){
                                window.location = "http://localhost:5000/users"
                            }
                           
                       },
                        error: function (error) {
                            
                            if (error.responseJSON.data === "Internal error occured: your account dose not exist") {
                                emailLable.innerHTML = "your account dose not exist";
                            }
                            else if (error.responseJSON.data === "Internal error occured: your password is correct") {

                                passwordLable.innerHTML = "your password is correct";
                            }
                            else if(error.responseJSON.data==="Internal error occured: Invalid Otp"){
                                otplabel.innerHTML = "invalid Otp";
                            }
                            
                        }
                    })
                }
            }
        });

    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>



    </script>


    <!-- <script>

        $(document).ready(function () {
            $("#close").click(function () {
                $("#otpInputDiv").css("display", "none")
            })
        })
    </script> -->

</body>

</html>