body {
    background: url("/form.jpg")no-repeat;
    background-size: cover;
    height: 100vh;
}

form {
    width: 35%;
    background: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    padding: 30px 0px 30px 30px;
    position: relative;
    top: 15%;
    left: 35%;
    animation-name: move;
    animation-duration: 1s;

}

@keyframes move {
    from {
        margin-top: -50px;
    }

    to {
        margin-top: 0;
    }
}


input {
    background: none;
    border: none;
    border: solid 1px #000;
    width: 90%;
    padding: 4px;

}

label {

    color: #000;
    display: unset !important;
}

.extra {
    margin-bottom: 18px !important;
}

form button {
    padding: 6px 22px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.col-md-3{
    align-items: center;
    display: flex;
}
#nameLable{
    color: red;
}
#emailLable{
    color: red;
}#passwordLable{
    color: red;
}
#roleLable{
    color: red;
}
#mobileLable{
    color: red;
}
a.list{
    padding: 7px 25px;
    background: rgb(255, 255, 255);
    text-decoration: none;
  }

